@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<div class="justify-content-end col-4 offset-8">
		<h1>HAKUNA MATATA</h1>
		<h2>ALPHA 0.1</h2>
		<p class="lead">This website is in its alpha release phase. There are a shit ton of bugs both known and unknown.</p>
		<hr />
		<p class="lead">We are an Elder Scrolls Online social guild focusing both on PVE & PVP </p>
		<p class="lead">RECRUITING NOW</p>
	</div>
	

	<br />
	<br />
</div>
<!--************************************-->
<!--******* TEA'S CODE START ***********-->
<!--************************************-->

<div class="row text-center">
	<div class="col-lg-4">
		<img class="rounded-circle btn btn-secondary btn-eso" src="https://res.cloudinary.com/teepublic/image/private/s--HnS_AxWO--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1496822879/production/designs/1651276_1.jpg" alt="Generic placeholder image" width="140" height="140" href="#" role="button">
		<h2>News & Updates</h2>
		<p>Find the latest news, updates and rules right here</p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle btn btn-secondary btn-eso" src="https://res.cloudinary.com/teepublic/image/private/s--HnS_AxWO--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1496822879/production/designs/1651276_1.jpg" alt="Generic placeholder image" width="140" height="140" href="#" role="button">
		<h2>ESO Guides</h2>
		<p>Read already existing guides or write your own ones</p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle btn btn-secondary btn-eso" src="https://res.cloudinary.com/teepublic/image/private/s--HnS_AxWO--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1496822879/production/designs/1651276_1.jpg" alt="Generic placeholder image" width="140" height="140" href="#" role="button">
		<h2>Guild Events Calendar</h2>
		<p>All of our events easily found in our calendar app</p>

		<br />
		<br />
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle btn btn-secondary btn-eso" src="https://res.cloudinary.com/teepublic/image/private/s--HnS_AxWO--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1496822879/production/designs/1651276_1.jpg" alt="Generic placeholder image" width="140" height="140" href="#" role="button">
		<h2>Guild Ranks</h2>
		<p>All info about our guild ranks and how to rank up</p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle btn btn-secondary btn-eso" src="https://res.cloudinary.com/teepublic/image/private/s--HnS_AxWO--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1496822879/production/designs/1651276_1.jpg" alt="Generic placeholder image" width="140" height="140" href="#" role="button">
		<h2>Admin Applications</h2>
		<p>If you'd like to become an admin here's what you should look at</p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle btn btn-secondary btn-eso" src="https://res.cloudinary.com/teepublic/image/private/s--HnS_AxWO--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1496822879/production/designs/1651276_1.jpg" alt="Generic placeholder image" width="140" height="140" href="#" role="button">
		<h2>Guild Traders</h2>
		<p>Find the latest trading info right here</p>
	</div>
</div>
<!--************************************-->
<!--******* TEA'S CODE FINISH **********-->
<!--************************************-->