@import "bootstrap/bootstrap.scss";

.navbar {
	box-shadow: 0 12px 10px -7px rgba(0,0,0,0.2);
}

.footer-main {
	flex: 1 1 initial;
}

.form-wide {
	input, select, textarea {
		max-width: 100%;
		width: 100% !important;
	}
}

.btn-calendar {
	width: 100%;
	border: none;
	transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
	background: linear-gradient(135deg, transparent 7px, #f1f1f1 7px, #f7f7f7 100%);
	will-change: transform;
	margin: 0.5em;

	a {
		text-decoration: none;
		color: #fff;
	}
}

//Guild Event Classes
.Gambling {	
	background-image: linear-gradient(135deg, transparent 7px, #6c1b29 7px, #cb1536 100%);	
}

.VetFarming {
	background-image: linear-gradient(135deg, transparent 7px, #bf9b30 7px, #ffbf00 100%);
}

.SkyshardFarming {
	background-image: linear-gradient(135deg, transparent 7px, #007bff 7px,#7ab5d8 100%);
}

.btn-custom {
	border-radius: 0;
	border: none;
	box-shadow: 0 12px 10px -7px rgba(0,0,0,0.2);
	color: #16222e;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	line-height: 2.5em;
	vertical-align: middle;
	text-decoration: none;
	max-width: 100%;
	overflow: hidden;
	padding: 0 1.875em;
	text-overflow: ellipsis;
	transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
	white-space: nowrap;
	will-change: transform;
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
	background: linear-gradient(135deg, transparent 7px, #f1f1f1 7px, #f7f7f7 100%);
	/*&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		border-top: 80px solid transparent;
		border-left: 80px solid red;
		width: 0;
	}*/
}

.gradient-blue-black {
	/*background-image: linear-gradient(135deg, #00437B 0%, #1598CB 100%);*/
	background-image: linear-gradient(135deg, #000 0%, #1598CB 100%);
}

.gradient-forest-green {
	background: linear-gradient(135deg, transparent 7px, #008145 7px, #82C341 100%);
}

td.disabled {
		background-color: lightgrey;
		color: gray;
		border-color: gray;
}

table.squaretable {
	margin-bottom: -2rem;

	td {
		width: 14.2857142857%;
		position: relative;

		.content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: gold;
		}

		&:after {
			content: '';
			display: block;
			margin-top: 30%;
		}

		.list-group-item {
			box-shadow: 0 12px 10px -7px rgba(0,0,0,0.6);

			&:hover {
				transition: box-shadow .15s ease-in-out;
				box-shadow: none;
			}

			&:active {
				box-shadow: inset 0px -12px 10px -7px rgba(0,0,0,0.6);
			}
		}

		.list-group-item-disabled {
			background-color: transparent;
			box-shadow: none;
		}

		.list-group-item-disabled-dark {
			color: rgba(0, 0, 0, 0.80);
			background-color: transparent;
			box-shadow: none;
		}
	}
}

.list-group-item-disabled {
	background-color: lightgrey;
	color: gray;
}