@import "input-focus.scss";
@import "bootstrap/bootstrap.scss";
@import "custom-checkbox.scss";

html, body {
	overflow-x: hidden;
}

.navbar {
	box-shadow: 0 12px 10px -7px rgba(0,0,0,0.2);
}

.footer-main {
	flex: 1 1 initial;
}

.form-wide {
	input, select, textarea {
		max-width: 100%;
		width: 100% !important;
	}
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

main {
	/* Prevent shrinking the main area in IE 10/11. */
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.footer {
	padding: 1rem 0;
	margin-top: auto;
	background-color: #f5f5f5;
}

.btn-calendar {
	width: 100%;
	border: none;
	transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
	background: linear-gradient(135deg, transparent 7px, #f1f1f1 7px, #f7f7f7 100%);
	will-change: transform;
	margin: 0.5em;

	a {
		text-decoration: none;
		color: #fff;
	}
}

//Guild Event Classes
.Gambling {	
	background-image: linear-gradient(135deg, transparent 7px, #6c1b29 7px, #cb1536 100%);	
}

.VetFarming {
	background-image: linear-gradient(135deg, transparent 7px, #bf9b30 7px, #ffbf00 100%);
}

.SkyshardFarming {
	background-image: linear-gradient(135deg, transparent 7px, #007bff 7px,#7ab5d8 100%);
}

.btn-custom {
	border-radius: 0;
	border: none;
	box-shadow: 0 12px 10px -7px rgba(0,0,0,0.2);
	color: #16222e;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	line-height: 2.5em;
	vertical-align: middle;
	text-decoration: none;
	max-width: 100%;
	overflow: hidden;
	padding: 0 1.875em;
	text-overflow: ellipsis;
	transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
	white-space: nowrap;
	will-change: transform;
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
	background: linear-gradient(135deg, transparent 7px, #f1f1f1 7px, #f7f7f7 100%);
	/*&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		border-top: 80px solid transparent;
		border-left: 80px solid red;
		width: 0;
	}*/
}

.gradient-blue-black {
	/*background-image: linear-gradient(135deg, #00437B 0%, #1598CB 100%);*/
	background-image: linear-gradient(135deg, #000 0%, #1598CB 100%);
}

.gradient-forest-green {
	background: linear-gradient(135deg, transparent 7px, #008145 7px, #82C341 100%);
}

td.disabled {
		background-color: lightgrey;
		color: gray;
		/*border-color: gray;*/
}

@media (max-width:575px) {
	.display-4 {
		font-size: 1.5rem;
	}

	.day h5 {
		background-color: #f8f9fa;
		padding: 3px 5px 5px;
		margin: -8px -8px 8px -8px;
	}

	.date {
		padding-left: 4px;
	}
}

@media (min-width: 576px) {
	.day {
		height: 14.2857vw;
	}
}

table.squaretable {
	margin-bottom: 0;
	overflow-wrap:break-word;
	overflow-x:scroll !important;

	td {
		width: 100%;
		position: relative;

		@include media-breakpoint-up(md) {
			width: 14.2857142857%;
		}

		.content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: gold;
		}

		&:after {
			content: '';
			display: block;
			margin-top: 30%;
		}

		.list-group-item {
			box-shadow: 0 12px 10px -7px rgba(0,0,0,0.6);

			&:hover {
				transition: box-shadow .15s ease-in-out;
				box-shadow: none;
			}

			&:active {
				box-shadow: inset 0px -12px 10px -7px rgba(0,0,0,0.6);
			}
		}

		.list-group-item-disabled {
			background-color: transparent;
			box-shadow: none;
		}

		.list-group-item-disabled-dark {
			color: rgba(0, 0, 0, 0.80);
			background-color: transparent;
			box-shadow: none;
		}
	}
}

.list-group-item-disabled {
	background-color: lightgrey;
	color: gray;
}

.front-page-jumbotron {
	background-image: url(/Content/img/jumbo-horse.jpg);
	background-position: 50% 14%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	border-radius: 0;
	padding: 0;

	.jumbotron-container {
		background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75));
		
		margin: 10px, 2px;
		padding: 1em;
	}
}

footer {
	/*background-image: url(/Content/img/jumbo-horse.jpg);*/
	background-position: 4% 88%;
	background-size: cover;
	background-repeat: no-repeat;
	bottom: 0px;
	padding: 0;

	.footer-container {
		background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8));
		padding: 1em;
		padding-top: 2em;
	}

	h5 {
		padding-left: 0px;
		padding-bottom: 6px;
		margin-bottom: 20px;
		color: #ffffff;
	}

	a {
		color: #ffffff;
		text-decoration: none !important;
		background-color: transparent;
		/*-webkit-text-decoration-skip: objects;*/
	}

	ul.quick-links li a {
		color: #ffffff;
	}

	ul.quick-links li {
		padding: 3px 0;
		-webkit-transition: .5s all ease-out;
		-moz-transition: .5s all ease-out;
		transition: .5s all ease-out;
	}

	ul.quick-links li:hover {
		padding: 3px 0;
		margin-left: 5px;
		font-weight: 700;
	}

	ul.quick-links li a i {
		margin-right: 5px;
	}

	ul.quick-links li:hover a i {
		font-weight: 700;
	}
}

.markdown-partial {
	overflow-y: scroll;
	zoom: 1.5;
	-moz-transform: scale(1.5);
	max-height: 370px;
}

.gist-file {
	border: none!important;
}