/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/************************************/
/* TEA'S CSS FOR INDEX PAGE - START*/
/************************************/

.btn-eso {
	color: #fff;
	/*background-color: #6c757d;
	border-color: #6c757d;*/
	text-shadow: black 0.3em 0.3em 0.3em;
	-webkit-transition: background-color 2s ease-out; /* Safari */
	transition: background-color 2s ease-out;
	-webkit-transition: border-color .75s; /* Safari */
	transition: border-color .75s;
	-webkit-transition: box-shadow .75s; /* Safari */
	transition: box-shadow .75s;
}
	.btn-eso:hover {
		color: #fff;
		/*background-color: #b55d9f;*/
		background-color: #191919;
		border-color: #b55d9f;
		box-shadow: 0 0 11px 3px rgba(193, 59, 160, 0.6784313725490196);
		/*-webkit-transition: background-color 2s ease-out; /* Safari */
		/*transition: background-color 2s ease-out;*/
		-webkit-transition: border-color .75s; /* Safari */
		transition: border-color .75s;
		-webkit-transition: box-shadow .75s; /* Safari */
		transition: box-shadow .75s;
	}

/************************************/
/* TEA'S CSS FOR INDEX PAGE - FINISH*/
/************************************/

/************************************/
/*** TEA'S CSS FOR footer - start****/
/************************************/
/* Footer */

section {
	padding: 60px 0;
}

	section .section-title {
		text-align: center;
		color: #007b5e;
		margin-bottom: 50px;
		text-transform: uppercase;
		text-shadow: black 0.3em 0.3em 0.3em;
	}



	/************************************/
	/*** TEA'S CSS FOR footer - FINISH **/
	/************************************/