/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/************************************/
/* TEA'S CSS FOR INDEX PAGE - START*/
/************************************/
.jumbotron {
	margin-bottom: 10px;
	background-image: url(https://esosslfiles-a.akamaihd.net/cms/2015/08/25b4dbeb0c579bc7ac4cb0d85ecae88f.jpg);
	background-position: 89% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
}
.btn-eso {
	color: #fff;
	/*background-color: #6c757d;
	border-color: #6c757d;*/
	text-shadow: black 0.3em 0.3em 0.3em;
	-webkit-transition: background-color 2s ease-out; /* Safari */
	transition: background-color 2s ease-out;
	-webkit-transition: border-color .75s; /* Safari */
	transition: border-color .75s;
	-webkit-transition: box-shadow .75s; /* Safari */
	transition: box-shadow .75s;
}
	.btn-eso:hover {
		color: #fff;
		/*background-color: #b55d9f;*/
		background-color: #191919;
		border-color: #b55d9f;
		box-shadow: 0 0 11px 3px rgba(193, 59, 160, 0.6784313725490196);
		/*-webkit-transition: background-color 2s ease-out; /* Safari */
		/*transition: background-color 2s ease-out;*/
		-webkit-transition: border-color .75s; /* Safari */
		transition: border-color .75s;
		-webkit-transition: box-shadow .75s; /* Safari */
		transition: box-shadow .75s;
	}

/************************************/
/* TEA'S CSS FOR INDEX PAGE - FINISH*/
/************************************/

/************************************/
/*** TEA'S CSS FOR footer - start****/
/************************************/
/* Footer */

section {
	padding: 60px 0;
}

	section .section-title {
		text-align: center;
		color: #007b5e;
		margin-bottom: 50px;
		text-transform: uppercase;
		text-shadow: black 0.3em 0.3em 0.3em;
	}

#footer {
	background-image: url(https://esosslfiles-a.akamaihd.net/cms/2017/08/e1dbba28ad15256830dea92e5de8fa1a.jpg);
	background-position: 4% 30%;
	background-size: cover;
	background-repeat: no-repeat;
	text-shadow: black 0.3em 0.3em 0.3em;
}

	#footer h5 {
		padding-left: 0px;
		padding-bottom: 6px;
		margin-bottom: 20px;
		color: #ffffff;
		text-shadow: black 0.3em 0.3em 0.3em;
	}

	#footer a {
		color: #ffffff;
		text-decoration: none !important;
		background-color: transparent;
		/*-webkit-text-decoration-skip: objects;*/
	}

		#footer ul.quick-links li a {
			color: #ffffff;
		}

	#footer ul.quick-links li {
		padding: 3px 0;
		-webkit-transition: .5s all ease-out;
		-moz-transition: .5s all ease-out;
		transition: .5s all ease-out;
	}

		#footer ul.quick-links li:hover {
			padding: 3px 0;
			margin-left: 5px;
			font-weight: 700;
		}

		#footer ul.quick-links li a i {
			margin-right: 5px;
		}

		#footer ul.quick-links li:hover a i {
			font-weight: 700;
		}

	/************************************/
	/*** TEA'S CSS FOR footer - FINISH **/
	/************************************/